@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #343d4b;
  color: #ffffff; */
}

body.light-mode {
  background-color: #ecf0f1;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #343d4b;
  color: #ffffff;
}

body.dark-mode .current-stats__label {
  color: rgba(255, 255, 255, 0.6);
}

body.dark-mode .form__field {
  color: #ffffff;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.toggle-button {
  margin: 25px;
  display: flex;
  justify-content: flex-end;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}

.light {
  font-weight: 100;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

/* Location and Date CSS */

.location-and-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.location-and-date__location {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  /* margin-top: 10px; */
  /* width: 50%; */
  display: flex;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  /* color: #fff; */
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  /* font-size: 1.3rem; */
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  /* font-size: 1rem; */
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  /* font-weight: 700; */
  border-width: 1px;
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  /* font-size: 1rem; */
  /* font-weight: 700; */
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.searchBtn {
  margin-left: 20px;
  border-radius: 30px;
  border-color: #343d4b;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Current Temperature CSS */

.current-temperature {
  display: flex;
  margin-top: 0.25em;
  width: 100%;
}

.current-temperature__icon-container {
  flex-grow: 1.25;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
}

.current-temperature__content-container {
  flex-grow: 1;
  text-align: center;
}

.current-temperature__icon {
  width: 10.5em;
}

.current-temperature__value {
  font-size: 5.25em;
  font-weight: 300;
}

.current-temperature__summary {
  margin-top: -0.5em;
  margin-left: -0.6em;
  font-size: 1.125em;
}

/* Current Status CSS */

.current-stats {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.current-stats__value {
  margin-top: 1em;
  font-size: 1.44em;
}

.current-stats__label {
  /* color: rgba(255, 255, 255, 0.6); */
}

/* Weather By Hours CSS */

.weather-by-hour {
  display: none;
  width: 100%;
}

.weather-by-hour__container {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}

.weather-by-hour__container::-webkit-scrollbar {
  width: 1em;
}

.weather-by-hour__container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.weather-by-hour__container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.weather-by-hour__heading,
.next-7-days__heading {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  font-weight: normal;
}

.weather-by-hour__item {
  padding: 0.8em 0;
  width: 13%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 1.125em;
  text-align: center;
  margin: 5px;
}

.weather-by-hour__hour {
  margin-bottom: 0.5em;
}

/* Next 7 Days CSS */

.next-7-days {
  width: 100%;
  margin-top: 1em;
}

.next-7-days__container {
  display: flex;
  flex-wrap: wrap;
}

.next-7-days__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.3em;
  padding: 0.8em 0;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.19em;
  text-align: center;
}

.next-7-days__label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.83em;
}

.next-7-days__date,
.next-7-days__high,
.next-7-days__low,
.next-7-days__icon,
.next-7-days__rain,
.next-7-days__wind {
  width: 33.33333%;
  font-size: 0.95em;
}

.next-7-days__date,
.next-7-days__high,
.next-7-days__low {
  margin-bottom: 0.6em;
}

/* ---------- Responsive CSS ---------- */

@media screen and (min-width: 1140px) {
  .main-container {
    width: 1120px;
    margin: 16px auto;
    font-size: 1.1em;
  }
}

@media screen and (min-width: 880px) {
  .weather-by-hour__item {
    width: 6.05em;
  }
}

@media screen and (min-width: 768px) {
  .current-stats {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  .weather-by-hour {
    display: block;
  }

  .current-temperature,
  .current-stats {
    width: 50%;
  }

  .weather-by-hour__heading,
  .next-7-days__heading {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 450px) {
  .next-7-days__date,
  .next-7-days__high,
  .next-7-days__low,
  .next-7-days__icon,
  .next-7-days__rain,
  .next-7-days__wind {
    width: 16.666666%;
    margin-bottom: initial;
  }

  .next-7-days__date {
    order: -2;
  }

  .next-7-days__icon {
    order: -1;
  }
}

@media screen and (max-width: 450px) {
  .location-and-date {
    display: block;
  }

  .form__group {
    margin-top: 25px;
  }
}
